*{
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

h1 {
    text-align: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.list_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.listtask {
    justify-content: space-between;
    display: flex;
    align-items: center;
    align-self: normal;
    position: relative;
    padding: 7px 7px 7px 7px;
    min-height: 30px;
    height: auto;
    list-style: none;
    background-color: #fcfcfc;
    border-radius: 5px;
    margin: 10px 0px;
}

.listtask .status_update{
    position: absolute;
    right: 8px;
}

ul {
    padding: 0;
}

.task-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    border-style: none;
    background-color: #dddddd;
    padding: 3px 7px;
    border-radius: 3px;
}

.input-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

span.desc{
    margin-left: 5px;
}